<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="icon" type="image/x-icon" href="./media/favicon.png">
    <link rel="stylesheet" href="viewdesign.css">
</head>

<body>

    <div class="adduserpage">
        <div class="logoimage">
            <img src="./media/Kainos 800x250 Logo (Transparent BG).png" alt="kainos_logo">
        </div>


        <nav>
            <a href="addUser.ejs">Add Users</a>
            <a href="deleteUser.ejs">Delete Users</a>
            <a href="updateUser.ejs">Update Users</a>
        </nav>

        <div class="addnewuser">
            <h1>Add New User</h1>
        </div>

        <div class="infoboxes">

            <form action="addUser.js" method="post">
                <label for="name">Name:</label><br>
                <input type="name" id="name" name="name"><br>

                <label for="address">Address:</label><br>
                <input type="address" id="address" name="address"><br>

                <label for="salary">Salary:</label><br>
                <input type="salary" id="salary" name="salary"><br>

                <label for="role">Role:</label><br>
                <input type="role" id="role" name="role"><br>

                <label for="employeenumber">Employee Number:</label><br>
                <input type="employeenumber" id="employeenumber" name="employeenumber"><br>

                <div class="spacebelowinfo">

                </div>

                <input type="submit" value="submit" />
            </form>
        </div>

        <footer>
            <p>Kainos House 4-6 Upper Crescent Belfast BT7 1NT Nothern Ireland</p>
            <p>investorrelations@kainos.com</p>
        </footer>

    </div>

</body>

</html>