<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="icon" type="image/x-icon" href="./media/favicon.png">
    <link rel="stylesheet" href="viewdesign.css">
</head>

<body>
    <div class="kainosimage"></div>
    <img src="./media/Kainos 800x250 Logo (Transparent BG).png" alt="kainos_logo">

    <div>
        <nav>
            <a href="addUser.ejs">Add Users</a>
            <a href="deleteUser.ejs">Delete Users</a>
            <a href="updateUser.ejs">Update Users</a>
        </nav>
    </div>

    <div>
        <h1>Delete User</h1>
    </div>


    <form action="/users/delete/<%= user.id %>" method="post">
        <h3>
            Are you sure you want to delete <%= user.name %>?
        </h3>

        <input type="submit" value="Submit">
    </form>

    <footer>
        <p>Kainos House 4-6 Upper Crescent Belfast BT7 1NT Nothern Ireland</p>
        <p>investorrelations@kainos.com</p>
    </footer>
    
</body>

</html>